.scoreCard-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  background-position: center;
  padding: 15px;
  margin-bottom: 10px;
}
.trophy {
  height: 200px;
  margin-top: 80px;
}
.your-score-paragraph {
  color: #ffffff;
  font-family: roboto;
  font-weight: bold;
}
.button {
  background-color: #cf60c8;
  color: #ffffff;
  font-family: roboto;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  outline: none;
}
